{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cyber Security </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assetsvendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.8.1
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h2 class="logo me-auto"><a href="index.html">CyberSecurity</a></h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li class="dropdown"><a href="/internship"><span>Internship</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/project">Projects </a></li>
              <li><a href="/award">Awards</a></li>
              <li><a href="/session">Session</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/logout" class="get-started-btn scrollto">Logout</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
        </div>
        <p><h4 class="mt-5">
          What are the benefits of a cyber security internship?
        </h4></p><p>
When it comes to pursuing a career in a competitive field like intelligence, there’s nothing more important than hands-on experience. Cyber security is an exciting, ever-changing field that requires professionals to be adaptable, quick-learning, and able to master the very latest technologies. Our placements offer complete immersion into this unique world, and equip interns with foundational skills and a broad understanding of the field.
 </p><p>
Cyber security internships are also a chance to build a network in the industry. After all, in a field as competitive as this, it’s not just what you know, but who you know. Interns build relationships with experts in their fields, as well as other interns on the program. In addition to mentors and co-workers in placements, interns expand their professional web through carefully-constructed program elements including a keynote speaker series and various networking events.
</p><p>
Remote cyber security internships offer added flexibility, as well as the chance to get a foot in the door of today’s remote workforce. If you’re a busy student, parent, or professional, or envision yourself in a location-independent career in the future, our virtual placements are perfect. In today’s technology-based economy, cyber security professionals are highly desired by employers, and frequently operate remotely. Our virtual placements offer the chance to utilize and develop skills in an international setting, offering a truly global understanding of the industry, from anywhere in theWhat are the benefits of a cyber security internship?
 </p><p>
When it comes to pursuing a career in a competitive field like intelligence, there’s nothing more important than hands-on experience. Cyber security is an exciting, ever-changing field that requires professionals to be adaptable, quick-learning, and able to master the very latest technologies. Our placements offer complete immersion into this unique world, and equip interns with foundational skills and a broad understanding of the field.
</p><p>
Cyber security internships are also a chance to build a network in the industry. After all, in a field as competitive as this, it’s not just what you know, but who you know. Interns build relationships with experts in their fields, as well as other interns on the program. In addition to mentors and co-workers in placements, interns expand their professional web through carefully-constructed program elements including a keynote speaker series and various networking events.
</p><p>
Remote cyber security internships offer added flexibility, as well as the chance to get a foot in the door of today’s remote workforce. If you’re a busy student, parent, or professional, or envision yourself in a location-independent career in the future, our virtual placements are perfect. In today’s technology-based economy, cyber security professionals are highly desired by employers, and frequently operate remotely. Our virtual placements offer the chance to utilize and develop skills in an international setting, offering a truly global understanding of the industry, from anywhere in the world
</p>    

<p>
  <section id="" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-center">
             <h1>Fill the forms</h1>
             <p>
              <div class="mt-5">
   <form action="/internship" method="post"  >{% csrf_token %}
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
              <div class="d-flex flex-row align-items-center mb-4">Name:
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="text" class="form-control " name="name" placeholder="Enter Your Name" required>
                                </div>
                              </div>

             <div class="d-flex flex-row align-items-center mb-4">Email:
                                <i class="fas fa-envelope fa-lg me-4 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="email" class="form-control " name="email" placeholder="Enter Your Email" required>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">Phone:
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="number" class="form-control " name="phonenumber" placeholder="Phone Number" required>
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">Gender:
                                <i class="fas fa-envelope fa-lg me-2 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="Gender" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                  <option value="Other">Other</option>
                                </select>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">10th Board:
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="SSLC_board" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="State">STATE</option>
                                  <option value="CBSE">CBSE</option>
                                </select>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">12th Board:
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="PUC_board" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="Central Board">Central Board</option>
                                  <option value="Non Central Board<">Non Central Board</option>
                                  <option value="Other">Other</option>
                                </select>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">Interns:
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="interns" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="Virtual CISO">Virtual CISO</option>
                                  <option value="Cyber Security Consulting">Cyber Security Consulting</option>
                                  <option value="Penetration Testing">Penetration Testing</option>
                                  <option value=" Network Security Monitoring">Network Security Monitoring</option>
                                </select>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">10th percent:
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="text" class="form-control " name="SSLC_percent" placeholder="Enter 10th percent" required>
                                </div>
                              </div>
                              
                              <div class="d-flex flex-row align-items-center mb-4">12th percent:
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="text" class="form-control " name="PUC_percent" placeholder="Enter  12th percent" required>
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">USN:
                                <i class="fas fa-envelope fa-lg me-2 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="text" class="form-control " name="USN" placeholder="Enter Your USN" required>
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">BE CGPA:
                                <i class="fas fa-envelope fa-lg me-2 fa-fw"></i>
                                <div class="form-outline flex-fill mb-2">
                                  <input type="text" class="form-control " name="cgpa" placeholder="Enter Your CGPA" required>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-3">Branch :
                                <i class="fas fa-envelope fa-lg me-2 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="Branch" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="Computer Science and Engineering">CSE</option>
                                  <option value="Aeronautical Engineering">AE</option>
                                  <option value="Information Science and Engineering">IS</option>
                                  <option value="Civil Engineering">Civil </option>
                                  <option value="Electronics and communication">EC</option>
                                  <option value="Electrical Engineering">Electrical</option>
                                  <option value="Mechanical Engineering">ME</option>
                                </select>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-3">College:
                                <i class="fas fa-envelope fa-lg me-2 fa-fw"></i>
                                <select class="form-outline flex-fill mb-2" name="College" required="" aria-required="true">
                                  <option selected="" value="">Choose one</option>
                                  <option value="Shree devi institute of technology managalore">SDIT</option>
                                  <option value="Mangalore institute of technology">MITE</option>
                                  <option value="Yenapoya institute of technology">YIT</option>
                                  <option value="Alva's institute of technology">AITE</option>
                                  <option value="Srinivas institute of technology">SIT</option>
                                  <option value="National institute of technology surathkal">NITK</option>
                                  <option value="Sahyadri college of Engineering And Management">SCEM</option>
                                  <option value="St Joseph Engineering College">SJEC</option>
                                </select>
                              </div>
                                <div><p>
                                  <input type="file" name="files" id="file" required>
                                  <label for="file" id="inputFileLabel" class="form-outline flex-fill mb-2">Choose a file</label>
                                </div>
                              </div>
                              <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>  
                            </div>
                          </div>
                        </div>
               </div>
  </form>  
</p>
<div>
{% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                  <strong></strong> {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
              </div>
</p>
</div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

  
  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CyberSecurity</h3>
            <p>
              CyberCrimeCenter<br>
              Moodbidiri,Karanataka<br>
              India <br><br>
              <strong>Phone:</strong> +91 9071138349<br>
              <strong>Email:</strong> varun.s.kulal6521@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#container">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg col-md footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/buy">Virtual CISO</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/buylater">Cyber Security Consulting</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/buyimmediate">Penetration Testing & Network Security Monitoring</a></li>
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>CyberSecurity</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
          Designed by <a href="https://bootstrapmade.com/">Varun Kulal</a>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="https://twitter.com/Vaxun3" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/100024911919464" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/iam_tom_m" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://join.skype.com/invite/ufne7cUricSi" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/kamalesh-s-kulal-94b5a5249" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        
      </div>
    </div>
  </footer><!-- End Footer -->

     


  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>