{% load embed_video_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cyber Security </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assetsvendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.8.1
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h2 class="logo me-auto"><a href="index.html">CyberSecurity</a></h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li class="dropdown"><a href="/internship"><span>Internship</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/project">Projects</a></li>
              <li><a href="/award">Awards</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/logout" class="get-started-btn scrollto">Logout</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hi" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
     
         
	</div>
           {% block content %}
           <class="mt-5">
            
            <p><h3>Discover the latest collection of talks and videos on Cyber Security from industry experts</h3></p>
            
            <p><h5>Cyber security is the protection of your hardware, software and data from unauthorized access and cyber attacks. Hear from cybersecurity experts on how to prevent attacks, practice cyber hygiene, patch vulnerabilities, detect threats, and respond to breaches faster. From network security to application security and data security, each element of cyber security plays into your organization's overall security posture.</h5></p>
            <p><h3>
              Why You Need to Attend our Cybersecurity Webinars in 2022!</h3></p>
              
              <p>BeyondTrust hosts a robust cybersecurity webinar program, which has been recognized as one of the top free resources for cybersecurity knowledge. This year, we significantly diversified our webinar offerings, launching monthly Women in Security networking events, Tech Talk Tuesdays (in Americas, EMEIA, and APJ), Perks of PAM, and Cheers to Engineers.<p>
              <p>
              In 2021, BeyondTrust hosted over 150 webcasts across the globe, attended by tens of thousands of your IT and security peers. Dozens of expert guest speakers each contributed unique experiences and areas of expertise; teaching cybersecurity professionals across the world how to better protect their organizations and improve compliance, as well as how to continue to develop their skills, teams, and careers. Many BeyondTrust-hosted webinars provide the added benefit of qualifying as CPE accreditation with organizations like ISACA.
              Cybsersecurity webinar topic trends over the past 5 years</p>
              <p>
              Today, we are sharing a ranked list of our 20 most popular webinars from 2021. You can now watch them all on-demand. But first, let’s take a brief trip down Memory Lane during, in retrospect, what were much simpler times… </p>
              <p>
              In 2017, when we performed a similar ranking exercise, these were our most popular webinar themes:<p>
              <p>
                  How to think like a hacker/counter-maneuver an attack
                  Techniques for monitoring attacks and cyber threat hunting
                  How to use privileged access management (PAM) and privileged password management to condense the attack surface and enforce least privilege
                  How to defend against specific, newsworthy exploits (Petya, Equifax) </p>
              <p>
              In 2020, the world was upended by the global pandemic. Organizations scrambled to adapt at breakneck speed to accommodate social distancing recommendations and laws. Unsurprisingly secure remote access, including remote support and privileged remote access/vendor security, and service desk efficiency leapt to the top in priority for organizations in 2020, and these were consistently the most in-demand of BeyondTrust webinar topics.</p>
              <P>
              In 2021, as we will reveal below, hack and defense webinars again resonated strongly with our audience and zero trust ascended to become a much in-demand topic. Remote access-related topics remained popular, but not as overwhelmingly so as in 2020, during the mad dash to go-remote.</p>
              Top cybersecurity webinars of 2021
              <p>
              On the cusp of 2022, we are already well on our way to building out a webinar schedule of compelling cybersecurity topics (we welcome you to submit your topic ideas here) featuring some of the industry’s foremost independent thought leaders.</p>
              <p><h3>
              What better way to kick-start your cybersecurity growth and education for 2022 than by digging into our most in-demand IT security webinars of 2021?</h3></p>
              <p>
                 1. How to Hack and Then Defend the Windows Endpoint, with Paula Januszkiewicz
                 <P>
                 2. Hacker's Paradise: Top 10 Biggest Threats When Working From Home, with Paula Januszkiewicz
                 </p><p>
                 3. Customer Webinar: NEW Remote Support 21.3 Released!, with Duane Simms
                 </p><p>
                 4. Attacking and Defending a Linux System, with Jay Beale
                 </p><p>
                 5. Why Identity is key to Zero Trust. Moving from theory to practical, with Hamish Taylor, Prashant Mascarenhas, Heather Gantt-Evans, & Brian Chappell
                 </p><p>
                 6. Are These 3 Windows Security Protections Enough Against Ransomware?, with Russell Smith
                </p><p>
                 7. APJ | The Essential Eight – what’s new and how PAM aligns to it, with Matt Tett
                </p><p>
                 8. Lessons from the SolarWinds Breach, with Chris Hills
                </p><p>
                 9. 5 Ways to Secure Remote Access with Zero Trust, with Jennifer Minella
                </p><p> 
                 10. The Rise of Web-based Admin Consoles...and Why That's Terrifying, with Dave Shackleford
                </p><p>
                 11. Is Your Tuesday Patched Enough?, with Sami Laiho
                </p><p>
                 12. APJ | Is Your Tuesday Patched Enough?, with Sami Laiho
                </p><p>
                 13. Defense Against the Dark Arts: Stopping the Ransomware and Attack Prevention, with Paula Januszkiewicz
                </p><p>
                 14. Analyst Reveals the Ideal Endpoint Security Stack, with Michael Suby
                </p><p>
                 15. 5 Indisputable Facts of I/IOT Security, with Diana Kelley
                </p><p>
                 16. Zero Buzz - Zero Trust, with Diana Kelley
                </p><p>
                 17. Post-Pandemic IT Support: The Need to Up IT Service Desk Efficiency, with Stephen Mann
                </p><p>
                 18. Secure Your Datacenter with a Zero Trust Model for Bastion Host, with Tal Guest & Chris Herrin
                </p><p>
                 19. Customer Tips & Tricks: Chat in Remote Support, with Sandra Hanna
                </p><p>
                 20. Cybersecurity Insurance: Where to Start & How to Qualify, with Scott Takaoka </p>
                </p>
              <p>
              As you’re gearing up for a new year, it’s an apt time to re-educate and take stock of the cybersecurity and threat trends likely to emerge. Check out what our expert IT security forecasters have to say about with their annual cybersecurity predictions (for 2022 and beyond).</p>
              <p>
              Thank you for being a part of our global webinar network. Our webinars wouldn’t be what they are today without our loyal customers and the BeyondTrust extended community! Have a safe and happy New Year!!</p>
             <div class="d-flex flex-wrap" >
              {% for item in videos%}
              <div class="px-3 mb-5">
              {% video item.url '480x360'%}
              <div class="d-flex justify-content-start">
              <p>
               {{ item.title }}
              </p>
            </div>
          </div>
              {% endfor %}
              {% endblock content %}
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

  </main>
     
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>